nav {
  background: #000;
  height: 60px;
}
    
button {
  border: none;
  color: white;
}
    
li, li a {
  height: 60px;
  display: flex;
  align-items: center; 
}
    
li a:hover {
  border-top: 3px solid red;
}
    
.active {
  background: red;
}